.songlist_container{
    .songlist_header{
        gap: 2px;
        display: flex;
        margin: 5px 0;
        font-weight: 500;
        border-radius: 8px;
        font-family: inherit;
        border: 1px solid transparent;
        justify-content: space-between;

        .songlist_header_column{
            padding: 5px 10px;
            color: #585858fe;
            background-color: #dddbdb96;
        }
        .songlist_header_column1{
            flex:5%;
           
        }
        .songlist_header_column2{
            flex:30%;
          
        }
        .songlist_header_column3{
            flex:30%;
   
        }
        .songlist_header_column4{
            flex:10%;

        }
        .songlist_header_column5{ 
            flex:25%;

        }
    }
}