.navbar_wrapper{   
    gap: 10px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 0.6em 1.2em;
    background: #bebbbb96;
    border: 1px solid transparent;
    justify-content: space-between;
    box-shadow: inset -1px 0px 2px 0px;

    p{
        margin: 0;
    }
    .navbar_first_div{
        display: flex;
        gap:10px;

        .navbar_buttons{
            gap: 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
    }
    .navbar_second_div{
        gap:10px;
        display: flex;
        align-items: center;

        .navbar_buttons{
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        .navbar_input_wrap{
            position: relative;
            .navbar_search_icon{
                position: absolute;
                left: 10px;
                top: 6px
            }
            #navbar_search_input{
                font-size: 1em;
                cursor: pointer;
                font-weight: 500;
                border-radius: 18px;
                font-family: inherit;
                border: 1px solid #9f9e9e;
                padding: 5px 10px 5px 40px;
                background-color:transparent;
                transition: border-color 0.25s;
                background-image: url('./search.png');
                background-position: 2px 2px; 
                background-repeat: no-repeat;
          
                &:focus{
                  background-color: #f3f3f370;
                }
            }
            
        }
    }
}


@media (max-width:700px) {
    .navbar_wrapper{
        align-items: center;
        flex-direction: column-reverse; 
    }
}

@media (max-width:425px) {
    .navbar_second_div{
        flex-direction: column-reverse;
    }
}

