.SongRow{
    gap: 2px;
    display: flex;
    text-align: left;
    font-weight: 500;
    padding-left: 5px;
    border-radius: 8px;
    align-items: center;
    font-family: inherit;
    transition: box-shadow .3s;
    justify-content: space-between; 
    border-bottom: 1px solid #dddbdb96;
    
    &:hover{
       box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
  
    .songrow_column{
        padding: 5px 10px;
        color: #363636fe;
    }
    .SongRow_playButton{
        flex:5%;
        cursor: pointer;
       
    }
    .SongRow_songName{
        flex:30%;
      
    }
    .SongRow_artistName{
        flex:30%;

    }
    .SongRow_trackNumber{
        flex:10%;

    }
    .SongRow_settings{ 
        flex:25%;
        display: flex;
        justify-content: space-around;
        
        .song_heart{
            cursor: pointer;
        }
        .delete_btn{
            cursor: pointer;
        }
        
    }
}
.SongRow_active{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}