.MusicUploadForm_wrapper{
    padding: 5px 0 25px;
    border-radius: 20px;
    background-color: rgba(189, 189, 189, 0.597);

    .error-message{
        color: red;
        padding: 5px 20px;
    }
    .MusicUploadForm_title{
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
    }
    .MusicUploadForm_top{
        display: flex;
        margin-left: 20px;
        align-items: center;

        #MusicUploadForm_label{
            font-size: 1em;
            cursor: pointer;
            max-width: 320px;
            overflow: hidden;
            text-wrap: nowrap;
            font-weight: 500;
            border-radius: 8px;
            padding: 0.6em 1.2em;
            font-family: inherit;  
            border: 1px solid transparent;
            transition: border-color 0.25s;
            background-color:  #7bee6779;
            box-shadow: inset -1px 0px 5px 0px;

              &:hover {
                border-color: #000;
              }
              &:active {
               outline: 4px auto #000;
             }
        }
        .MusicUploadForm_label{
            background-color: #fffefe38 !important;
        }
        #MusicUploadForm_input{
            display: none;
        }
        .Submit_btn{
            background-color:  #7bee6779 !important;
        }
    }
    .MusicUploadForm{
        gap: 10px; 
        display: flex;
        padding: 20px;
        transition: all 3s;
        justify-content: flex-start;
     

        label{
            width: 50px;
            margin-right: 5px;
        }

        .Upload_label{
            display: flex;
            color: #0000007c;
            flex-direction: column;  
        }

        input{
            
            flex: 30%;
            cursor: pointer;
            font-size: 0.8em;
            font-weight: 500;
            border-radius: 18px;
            padding: 0.6em 1.2em;
            font-family: inherit;
            border: 1px solid #686666;
            background-color:transparent;
            transition: border-color 0.25s;
      
            &:focus{
              background-color: #f3f3f370;
            }
          }
    }
}

@media (max-width: 700px){
    .MusicUploadForm{
        flex-direction: column;
    }
}