body {
  margin: 0;
  display: flex;
  justify-content: center;


  #root {
    width: 100%;
    margin: 20px auto;
    max-width: 1024px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    button {
      font-size: 1em;
      cursor: pointer;
      font-weight: 500;
      border-radius: 8px;
      text-wrap: nowrap;
      padding: 0.6em 1.2em;
      font-family: inherit;
      border: 1px solid transparent;
      background-color: #e9e6e6c1;
      transition: border-color 0.25s;
      box-shadow: inset -1px 0px 5px 0px;

        &:hover {
          border-color: #000;
        }
        &:active {
         outline: 4px auto #000;
       }
    }
  }
}
